@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,300&display=swap');
*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    /* font-family: 'Montserrat', sans-serif; */
  /* font-family:'Inter', 'Segoe UI', Roboto, Helvetica, Arial,sans-serif; */
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
               Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
               /* font-family: 'Open Sans', Helvetica, Arial, sans-serif; */
               /* font-family: 'Merriweather', 'Georgia', serif; */
               font-family: 'Manrope', 'Poppins', 'Helvetica Neue', sans-serif;
}
ul li{
    list-style: none;
}
a{
    font-size: 1.6rem;
    text-decoration: none;
}
p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    /* letter-spacing: 0.15em; */
}
h1, h2, h3{
    margin-bottom: 0.5em;
    /* letter-spacing: 0.15em; */
    font-weight: 500;
}
.center-heading {
    position: absolute;
    top: 50%;
    left: 34%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
  }
  
  .center-heading h1 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  }
.about-nav{
    position: relative;
    height:50vh;
    background: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url("../img/003-3-scaled.jpg");
    /* background: url("../img/gold-marbled-pattern.jpg"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container4 {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    gap: 40px;
    background-color: white;
    padding: 13rem 0 13rem 0;
  }

  .left {
    flex: 1;
  }

  .left h5 {
    text-transform: uppercase;
    /* letter-spacing: 1.5px; */
    font-size: 14px;
    color: #51406e;
  }

  .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-top: 10px;
  }

  .left p {
    font-size: 15px;
    margin-top: 20px;
    line-height: 1.6;
    color: #666;
  }

  .contact-button {
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: transparent;
    cursor: pointer;
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .feature {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }

  .feature-icon {
    width: 50px;
    height: 50px;
    /* background-color: #fbe8da; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-shrink: 0;
  }
  .feature-icon img{
    
        display: inline-block;
        width: 100%;
        height: 100%;
        /* background-position: -248px 0px; */
        object-fit: cover;
        /* object-position: -148px 0px; */
    
        /* width: 100%;
        height: 100%;
        object-fit: cover;
        display: block; */
  }

  .feature-text h3 {
    margin: 0;
    font-size: 17px;
    font-weight: 600;
  }

  .feature-text p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #555;
  }
/* ###############3 utility classes####### */
.container{
    max-width: 1200px;
    width: 90%;
    margin:0 auto;
}
.middle-container{
    max-width: 1200px;
    width: 90%;
    margin:0 auto;
    background-color: blue;
}
.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}
.btn-primary{
    background-color:transparent;
    border-radius: 100px;
    border: 1px solid white;
}
.btn-primary:hover{
    background: #ddd;
    color :black;
}
.btn-secondary{
    border: 2px solid #e63946;
    border-radius: 1.5em;
    background: #fff;
    color: #e63946;
}
.btn-secondary:hover{
    background:#fcf3f2 ;
}
.section2{
    font-size: 5rem;
    font-family: auto;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
}
.lg-heading{
 font-size: 3.5rem;
}
.md-heading{
  font-size: 2.2rem;
}
.text-red{
    color:#e63946;
}
.text-light{
    color: #f4f4f4;
}
.text-black{
    color:#333333;
}
.text-gray{
    color:#555555;
}
.bg-dark{
    background: #263238;
}

.header {
    position: relative;
    height:95vh;
    background: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url("../img/P1.jpg");
    /* background: url("../img/gold-marbled-pattern.jpg"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo,
.nav a{
    color: black;
}
.nav a{
    padding-bottom: 1px;
}
.nav a:hover{
    border-bottom: 1px solid black;
}
/* .nav{

    padding: 1ram;
} */
.logo{
    float: left;
    padding: 1rem;

}
.nav-items{
    float:right;
    margin-top: 1rem;

}
.nav::after{
    content:"";
    display: block;
    clear: both;
}
.nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;

}
.text-auto{
    font-style: italic;
    font-family: auto;
    padding-left: 4rem;
}
/* ######header content styling####### */
.header-content{
    /* border: 2px solid white; */
    /* text-align: center; */
    position:absolute ;
    top: 50%;
    left:38%;
    transform: translate(-50%,-50%);
    /* background: linear-gradient(rgb(0,0,0,0.2),rgb(0,0,0,0.2)); */
}
.header h1{
  text-transform: uppercase;
  font-weight: 700;
}
.header p{
    text-transform: uppercase;
}
/* ##########show case styling######### */
.showcase{
    background: #ddd;
    padding:10rem 0;
}
.middle-showcase{
    background:rgb(54, 1, 73);
    padding:10rem 0;
}
.row{
    height: 510px;
    /* height: 95vh; */
    /* border:2px solid red; */
    width: 100%;
    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 20px 0px #aaa;
    margin-bottom: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.row-img{
    height: auto !important;
}
.row-table{
    background: #ddd !important;
    box-shadow:none !important;
}
.row-middle{
    height: 1109px;
    /* height: 95vh; */
    /* border:2px solid red; */
    width: 100%;
    text-align: center;
    background: rgb(54, 1, 73);
    /* box-shadow: 0px 0px 20px 0px #aaa; */
    margin-bottom: 10rem;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-size{
    height: 350px;
    width: 100%;
}
.font-left{
    font-style: italic;
    font-size: 6rem;}
.font-right{
    font-size: initial;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-end{
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid black;
    align-items:baseline;
    padding-bottom: 3rem;
}
.flex-left{
    display: flex;
    justify-content:space-between;
    /* border-bottom: 1px solid black; */
    align-items:baseline;
    padding-bottom: 3rem;
    text-align: left;
}
.flex-left1{
    display: flex;
    justify-content:space-between;
    /* border-bottom: 1px solid black; */
    align-items:baseline;
    padding-bottom: 1rem;
    text-align: left;
    padding-top: 3rem;
}
.border-bottom{
    border-bottom: 0.5px dotted aliceblue;
}

.row1{
    margin-bottom: 10rem;
}
.row1 .img-box,.row2 .text-box{
  float:left;
  width: 50%;
}
.row2 .img-box,.row1 .text-box{
    float:right;
    width: 50%;
  }
.row .img-box{
    /* border: 6px solid green;  */
     height: 100%;
}
.row .text-box{
    /* border: 2px solid blueviolet; */
    padding: 3rem;
}
.row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; */
}


.row-middle .img-box{
    /* border: 6px solid green;  */
     height: 100%;
}
.row-middle .text-box{
    /* border: 2px solid blueviolet; */
    padding: 3rem;
}
.row-middle .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    /* background-position: -248px 0px; */
    object-fit: cover;
    object-position: -148px 0px;

    /* width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; */
}
.section2{
    font-size: 4.5rem;
    font-family: auto;
    font-style: oblique;
    font-weight: lighter;
}
/* ##############box-wrapper####### */
.features{
    padding: 10rem 0;
}
.box-wrapper{
    /* border: 1px solid black; */
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0);
}
.box{
    width:33.33%;
    float:left;
    /* border: 2px solid red; */
    padding: 1.5rem;
    text-align: center;
}
.box-wrapper:after{
    content: "";
    display: block;
    clear: both;
}
.box-1, .box-3{
    background:#263238 ;
    color: #fff;
}
.box-2{
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: #fff;
}
/* ########footer style####### */
.footer{
    background: #263238;
    color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}
.social-media-links i{
 margin: 2rem;
}



.belz-footer {
    background-color: #fdf1e8;
    padding: 50px 92px 20px;
    font-family: 'Poppins', sans-serif;
    color: #222;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 194px;
    margin-bottom: 30px;
  }
  
  .footer-left,
  .footer-links,
  .footer-contact {
    flex: 1;
    min-width: 250px;
  }
  
  .footer-logo {
    width: 140px;
    margin-bottom: 16px;
  }
  
  .footer-left p {
    max-width: 300px;
    font-size: 14px;
    color: #444;
  }
  
  .footer-links h4,
  .footer-contact h4 {
    font-size: 18px;
    margin-bottom: 12px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin-bottom: 8px;
  }
  
  .footer-links ul li a {
    text-decoration: none;
    color: #222;
    font-size: 14px;
  }
  
  .footer-contact p {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .footer-contact a {
    color: #222;
    text-decoration: none;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    padding-top: 15px;
    font-size: 13px;
    color: #555;
    flex-wrap: wrap;
  }
  
  .footer-policy-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #555;
  }
  
  .footer-policy-links a:hover {
    text-decoration: underline;
  }

.margin-bot{
    margin-bottom: 15.5em;
}



/* ###########about style###### */
.about{
    padding: 5rem 0;
}
.about-heading{
    border-bottom: 5px solid #e63946;
}
/* .about-heading::after{
    content : '';
    display: block;
    border: 3px solid #e63946;

} */
.data{
    /* border: 1px solid black; */
    margin-top: 2rem;
    text-align: center;

}
.data1{
    float: left;
    width:50%;
}
.data2{
    float: right;
    width:50%;

}
.data::after{
    content: "";
    display: block;
    clear: both;
}
.data p::before{
    content: "\2713";
    color: #e63946;
    font-weight: bold;
    padding-right: 1rem;
}
.num{
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 2rem;
}
.num1{
    float:left;
    width: 25%;
}
.num2{
    float:left;
    width: 25%;
}
.num3{
    float:left;
    width: 25%;
}
.num4{
    float:left;
    width: 25%;
}
.num::after{
    content: "";
    display: block;
    clear: both;
}
.num span{
    color: #e63946;
    font-weight: 700;
    font-size: 3rem;
}
.num p{
    font-weight: 700;
    color: #263238;
    padding-top: 1rem;
    font-size: 1.8rem;
}
.cta-banner{
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: #fff;
    padding: 1rem;
    box-shadow: 5px 5px 10px #00000000;
}
.cta-left{
    float: left;
    width: 60%;
}
.cta-right{
    float: right;
    width: 40%;
    text-align: right;
}
.cta-banner::after{
     content:"";
     display: block;
     clear: both;
}
.cta-line{
  font-weight: 700;
  font-size: 2rem;
  margin-top: 1.5rem;
}
.btn-cta{
text-align: center;
display: inline-block;
font-weight: 700;
font-size: 3rem;
text-transform: uppercase;
border:4px solid white;
padding: 0.3rem 2.5rem;
/* letter-spacing: 0.5em; */
color: #f4f4f4;
/* margin-top: 3rem; */
}
/* #############################contact page style################# */
.contact-form{
    padding: 5rem 0;
   background: #f7f7f7;
}
.form-wrapper .componey-address img{
    max-width: 90%;
    min-height:40rem;
    object-fit: cover;
    object-position: right;
}
.componey-address{
    background: #fff;
    /* border: 4px dotted green; */
    float: left;
    width: 49%;
    padding: 1rem;
    height: 760px;
}
.componey-address i{
display: inline-block;
margin-right: 1rem;
}
.componey-address h2{
    display: inline-block;
    text-transform: uppercase;
}
/* ##############form styling########### */
.form{
    font-size: 1.6rem;
  height: 760px;
background: #fff;
    /* border: 4px dotted black; */
    float: right;
    width: 49%;
    padding: 1rem;
}
.form-wrapper::after{
    content: "";
    display: block;
    clear: both;
}
/* .form h1::after{
    content: "";
    display: block;
    border: 6px solid red;
    width: 100%;
} */
.c1{
    border-bottom: 3px solid red;
}
.form label{
    display: block;
}
.form input{
    padding: 0.5rem;
    width: 100%;
}
.form .form-group{
    margin-bottom: 1.2rem;
}
.form label::after{
    content:"*";
    color: #e63946;
}
.form textarea{
    width: 100%;
    height: 300px;
    padding: 1rem;
}
.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: #e63946;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}
@media (max-width:500px){
    html{
        font-size: 8px;
    }
 .nav-items, .logo{
    float: none;
    text-align: center;
}
.margin-bot{
    margin-bottom: 2.5em;
}
.row{
    height: auto;
    width: 100%;
}
.row-middle{
    flex-direction: column;
}
.container4{
    flex-direction: column;
}
.row-middle .img-box img{
    display: none;
}
.row-middle .image-box{
float: none;
}
.row1 .img-box,.row2 .text-box ,.row2 .img-box,.row1 .text-box{
    float: none;
    width: 100%;
    text-align: center;
}
.features .box{
    float: none;
    width: 100%;
    text-align: center;
}
.cta-left, .cta-right{
    float: none;
    text-align: center;
    width: 100%;
}
.form-wrapper .componey-address{
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
}
.form-wrapper .form{
    float: none;
    width: 100%;
    height: auto;
}
}
@media(min-width:501px) and (max-width:760px){
    html{
        font-size: 50%;
    }
    p{
        font-size: 1.8rem;
    }
 .nav-items, .logo{
    float: none;
    text-align: center;
}
.row{
    height: auto;
    width: 100%;
}
.row1 .img-box,.row2 .text-box ,.row2 .img-box,.row1 .text-box{
    float: none;
    width: 100%;
    text-align: center;
}
.margin-bot{
    margin-bottom: 2.5em;
}
.container4{
    flex-direction: column;
}
.row-middle{ 
    flex-direction: column;
}
.row-middle .img-box img{
    display: none;
}
.features .box{
    float: none;
    width: 100%;
    text-align: center;
}
.cta-left, .cta-right{
    float: none;
    text-align: center;
    width: 100%;
}
.form-wrapper .componey-address{
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
}
.form-wrapper .form{
    float: none;
    width: 100%;
    height: auto;
}
}
@media(min-width:769px) and (max-width:1200px){
    html{
        font-size: 56.225%;
    }
    .row .text-box h2{
        font-size: 2.2rem;
        font-weight: 500;
    }
}
@media(oriantation:landscape) and (max-height:500px){
    .header{
        height: 90vmax;
    }
}